body {
    color: white;
    background-color: #232323;
}
header {
    text-align: center;
    position:sticky;
    width: 100%;
    padding: 0.2em 0;

    top: 0;
    transition: background-color .3s ease;
    background-color: #191818;

    z-index: 1000;
}
.scrolled {
    backdrop-filter: blur(2px);
    background-color: #0000007b;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    left: 0px;
    width: 20%;
    height: auto;
}
.logo img {
    width: 100%;
    height: auto;
}
