* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    left: 0px;
}
.banner {
    background: black no-repeat center center/cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Arruma a responsibilidade dependendo da altura e largura da tela*/
@media (max-height: 721px) and (min-width: 870px) {
    .banner {
        height: 50vh;
    }
}
@media (max-width: 713px) and (min-width: 501px) {
    .banner {
        height: 28vw;
    }
}
@media (max-width: 500px) {
    .banner {
        height: 39vw;
    }
}
@media (max-width: 870px) {
    header .container, .sobre-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}